<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <meta content="" name="description">
      <meta content="" name="author">
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% endblock meta %}

    {% block css_imports %}
      <link href="/static/css/bootstrap.min.css" rel="stylesheet">
      <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
      <link href="/static/css/style.css" rel="stylesheet">
      {% block extra_css %}
      {% endblock %}
    {% endblock %}

    <title>
      {% block page_title %}
        Jayesh's page
      {% endblock %}
    </title>
  </head>

  <body {% block body_style %} style="background: #F6F6F6;" {% endblock %}>

    <div class="container container-fluid">
      <div class="row">
        {% block header %}
          {% include 'header.html' %}
        {% endblock %}
      </div>

      <div class="row">
        {% block content %}
        {% endblock %}
      </div>

      <div class="row">
        {% block footer %}
          {%include 'footer.html' %}
        {% endblock %}
      </div>
    </div>

    {% block js_imports %}
    <script src="/static/js/jquery-1.10.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {% block extra_js %}
    {% endblock %}
    {% endblock %}
  </body>
</html>
