{% extends 'base.html' %}

{% block content %}

<section id="aboutme">
  <div class="row">
    <p class="span8">Yet another computer programmer from Bangalore, India. Works primarily on <a href="http://python.org">Python</a> and web applications. Other than computers and programming, I love night sky and stars.</p>
    <img class="span4 img-responsive img-circle pull-right" src="/static/img/jayesh.jpg" />
  </div>
</section>

<section id="connect">
  <div class="page-header">
    <h2>Connect</h2>
  </div>
</section>

<section id="works">
  <div class="page-header">
    <h2>Works</h2>
  </div>
</section>
{% endblock %}
